database identifier: 	par-ntw-dev-openvpn-db-ha
database name:			openvpnha_production
database username: 		openvpn
password: 				ePGgm4fAH0w1p8R5jn3R

endpoint:    			par-ntw-dev-openvpn-db-ha.cy4kgc1t4v3w.eu-west-3.rds.amazonaws.com

sudo apt-get update && sudo apt-get install -y mysql-client libmysqlclient-dev